.nav {
    max-width: 430px;
    width: 100%;
}

.navbarNav {
    display: flex;
    justify-content: center;  /* 수평 중앙 정렬 */
    align-items: center;      /* 수직 중앙 정렬 */
    width: 100%;   
}          

.navbar-nav {
    display: flex;
    justify-content: space-between;  /* ✅ 양끝 배치 핵심 */
    align-items: center;
    width: 100%;
    padding: 0 12px;  /* ✅ 좌우 살짝 여백 */
    box-sizing: border-box;
  }

.nav-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.84);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
}


.nav-item {
    flex: none;         /* ✅ 균등이 아닌, 자동 너비 */
    text-align: center;
    list-style: none;
    width: 25%;         /* ✅ 정확히 4등분 */
  }

.nav-link img {
    width: 45px;
    height: 45px;

}